.nav-item {
    border-radius: 1em;
    background-color: #E31837;
    margin: 0 .1em;
    width: 7em;
    box-shadow: 0px 0px 0px #770c1c;

    transition: all 200ms ease;
    
    text-align: center;
}

.nav-item:hover {
    filter: brightness(110%);
    transform: translateY(.2em);
    box-shadow: 0px 3px 0px #770c1c;
    transition: transform 200ms ease, filter 200ms ease, box-shadow 700ms ease;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    transition: all 200ms ease;

}

.navbar-brand:hover {
    transform: scale(110%);
    transition: all 200ms ease;

}

.navbar-brand::after {
    content:"";
    position: absolute;
    width: 0em;
    height: .1em;
    background-color: whitesmoke;
    z-index: 100;
    transition: all 200ms ease;

}

.navbar-brand:hover::after {
    width: 5em;
    transition: all 200ms ease;
    
}

.btn.btn-light.rounded-pill {
    background-color: #E31837 !important;
    border: #f7425d solid 3px;
    color: white;
    box-shadow: 0 .2em 5px rgb(138, 0, 0);
    transition: all 200ms ease;
}
.btn.btn-light.rounded-pill:hover {
    background-color: #f7425d !important;
    transform: translateY(.1em);
    box-shadow: 0 0 5px rgb(138, 0, 0);

    transition: all 200ms ease;

}

@media only screen and (max-width: 1000px) {
    .nav-item {
        border-radius: 1em;
        background-color: #E31837;
        width: 100%;
        box-shadow: 0px 0px 0px #770c1c;
    
        transition: all 200ms ease;
        
        text-align: center;
    }

    .collapse button {
        width: 100% !important;
    }
}