<section class="hero bg-primary-custom text-white py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="display-4 fw-bold mb-4">¿Tienes Hambre?</h1>
                <p class="lead mb-4">Ofrecemos hamburguesas, pizzas y todo lo que puedas soñar</p>
                <button (click)="irAReserva()" class="btn btn-warning rounded-pill px-4 py-2 fw-bold">
                    Reserva una mesa
                </button>
            </div>
            <div class="col-md-6 text-center">
                <img src="hamburguesa2.png" alt="Hamburguesa especial" class="img-fluid hero-image">
            </div>
        </div>
    </div>
    <div class="wave-bottom"></div>
</section>