<section class="promotions py-5 bg-primary-custom text-white">
    <div class="container">

        <div class="promo-header text-center mb-5">
            <h2 class="section-title">COMBINA Y AHORRA</h2>
            <h3 class="display-4 fw-bold">2x S/35.00</h3>
        </div>

        <div class="row g-4">

            <div class="col-md-3">
                <div class="promo-card text-center">
                    <div class="promo-image mb-3">
                        <img src="whopper.png" alt="Whopper" class="img-fluid">
                    </div>
                    <h4 class="promo-title">Whopper</h4>
                </div>
            </div>


            <div class="col-md-3">
                <div class="promo-card text-center">
                    <div class="promo-image mb-3">
                        <img src="Crispy-Chicken.png" alt="Crispy Chicken" class="img-fluid">
                    </div>
                    <h4 class="promo-title">Crispy Chicken</h4>
                </div>
            </div>


            <div class="col-md-3">
                <div class="promo-card text-center">
                    <div class="promo-image mb-3">
                        <img src="hamburguesa1.png" alt="Extraburger" class="img-fluid">
                    </div>
                    <h4 class="promo-title">Extraburger</h4>
                </div>
            </div>


            <div class="col-md-3">
                <div class="promo-card text-center">
                    <div class="promo-image mb-3">
                        <img src="Cuarto-XL.png" alt="Cuarto XL" class="img-fluid">
                    </div>
                    <h4 class="promo-title">Cuarto XL</h4>
                </div>
            </div>
        </div>


        <div class="duos-section mt-5">
            <div class="text-center mb-4">
                <h3 class="section-title">¡Tus DÚOS del verano están aquí!</h3>
                <div class="price-tag">
                    <span class="currency">S/</span>
                    <span class="amount">18</span>
                    <span class="decimals">.90</span>
                </div>
            </div>

            <div class="row g-4">

                <div class="col-md-6">
                    <div class="duo-card">
                        <div class="duo-image">
                            <img src="pack-familiar.png" alt="Pack Familiar Jr" class="img-fluid">
                        </div>
                        <h4 class="duo-title">Pack Familiar Jr.</h4>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="duo-card">
                        <div class="duo-image">
                            <img src="whopper-jr-pack.png" alt="Whopper Jr Pack" class="img-fluid">
                        </div>
                        <h4 class="duo-title">Whopper Jr. Pack</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>