@use "sass:color";
/* You can add global styles to this file, and also import other style files */

// Variables
$primary-color: #E31837;
$secondary-color: #FFD700;
$text-color: #333;
$light-bg: #fff;

.custom-bordeado {
  border: 4px solid red !important;
  border-radius: .5em !important;
}

.c-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.c-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h-nonav {
  height: calc(100% - 4em);
}

.c-flex-self-left {
  align-self: self-start;
}

// Global styles
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: $text-color;
}

body,html {
  height: 100% !important;
}

.bg-primary-custom {
  background-color: $primary-color;
}

.text-primary-custom {
  color: $primary-color;
}

.btn-primary-custom {
  background-color: $primary-color;
  border: none;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  
  &:hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.wavy-border {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffffff' d='M0,96L48,112C96,128,192,160,288,160C384,160,480,128,576,112C672,96,768,96,864,112C960,128,1056,160,1152,160C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E") bottom center;
    background-size: cover;
  }
}
